<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elayne | Information</title>
    <script src="catp.min.js"></script>
    <script src="catp.js"></script>
    <link rel="stylesheet" href="catp.css">
</head>
<body ng-app="Packages">
    <div ng-controller="Packagesctrl">
        <header>
            <div class="navbar">
                <h1><b><i> E L A Y N E </i></b><BR>POETRY<br><br><br>
                    <div ng-controller="Packagesctrl">
                    <div id="left1">
                        <table class="tab2"><b><i>
                          <td><a href="ell.html" target="_blank">  HOME  </a></td>
                              <td><a href="ell4.html" target="_blank">  PHOTOGRAPHY  </a></td>
                              <td><a href="ell2.html" target="_blank">  POETRY  </a></td>
                              <td><a href="ell3.html" target="_blank">  STORIES  </a></td>
                        </i></b>
                        </table>
                      </div></h1>
        </header>
        <br>
        Rows to display:  <input type="number" step="1" min="0" max="7" ng-model="rowlimit"/><br><br>
        Search:  <input type="text" placeholder="Search for item" ng-model="search"><br><br>
        Enter the number of characters:  <input type="text" placeholder="Enter no. of characters" ng-model="limit"><br><br>
        <table>
            <tr>
                <th>FirstName
                    <br>
                    <input type="text" ng-model="search.fname" placeholder="Search firstname">
                </th>
                <th>LastName
                    <br>
                    <input type="text" ng-model="search.lname" placeholder="Search lastname">
                </th>
                <th>ID
                    <br>
                    <input type="text" ng-model="search.id" placeholder="Search id">
                </th>
                <th>Title
                    <br>
                    <input type="text" ng-model="search.title" placeholder="Search title">
                </th>
                <th>Year
                    <br>
                    <input type="text" ng-model="search.year" placeholder="Search year">
                </th>
                <th>Type
                    <br>
                    <input type="text" ng-model="search.type" placeholder="Search type">
                </th>
            </tr>
            <tbody>
                <tr ng-repeat="htl in info|limitTo:rowlimit|filter:search">
                    <td>{{htl.fname|namefilter:limit}}</td>
                    <td>{{htl.lname|namefilter:limit}}</td>
                    <td>{{htl.id|uppercase}}</td>
                    <td>{{htl.title|lowercase}}</td>
                    <td>{{htl.year|number:0}}</td>
                    <td>{{htl.type|uppercase}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>

<footer>
    <h3>Created By @Nandini</h3>
</footer>

</html>
